# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Environnement virtuel
venv/
.env/
*.env

# Base SQLite locale
db.sqlite3

# Static et media collectés
/staticfiles/
/media/

# VSCode / IDE
.vscode/
.idea/

media/

# Ignorer tout dans static/images/
static/images/*

# Mais ne pas ignorer ces fichiers (les inclure dans Git)
!static/images/slide-1.png
!static/images/slide-2.png
!static/images/slide-3.png
!static/images/default.png
